
.header{
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}

nav.header  a{
    text-decoration: none;
    margin-left: 30px;
    color: black;
}

nav.header  a:hover{
    color: orange;
}
